*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgba(112, 112, 255, 0.418);
}

header{
    text-align: center;
    padding: 20px 0px;
}

section {
    width: 500px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.829);
    text-align: left;
}

form#conteiner input{
    margin: 10px;
}

section div#resp{
    padding: 20px;
    text-align: center;
}

img#imagem{
    margin: auto;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    padding: 15px;
}

footer{
    text-align: center;
    padding: 5px;
}
