*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgba(112, 112, 255, 0.418);
    color: rgb(255, 255, 255);
}

header{
    text-align: center;
    padding: 20px 0px;
}

section{
    width: 500px;
    height: 300px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 1.2em;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.829);
    text-align: center;
}

div#foto{
    padding: 10px;
}

div#foto img{
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

footer{
    text-align: center;
    padding: 5px;
}
